<html>
  <body style="background-color :lightblue;">

    <h1>
      My first song
    </h1>

    <table>
      <thead>
        <tr>
          <th>
            Lyrics
          </th>
          <th>
            Notes
          </th>
        </tr>
      </thead>
      <tr>
        <td>

      <textarea>

      </textarea>
    </td>
      <td>
        <h4>
          Enter in notes
        </h4>
        <textarea>
        </textarea>
      </td>
  </tr>
    </table>

  </body>





</html>
